<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sabdrive.kidsquiz" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Kids Quiz Game</name>
  <description>Created by Bhaveesh Kumar</description>
  <author email="tdata535@gmail.com">Bhaveesh Kumar</author>

  <content src="index.html" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="SplashScreenDelay" value="2000" />

  <icon src="icons/icon.png" />
  <gap:splash src="icons/splash.png" />

  <platform name="android">
      <allow-intent href="market:*" />
  </platform>
</widget>
