<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sabdrive.kidsquiz" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Kids Quiz Game</name>
  <description>Created by Bhaveesh Kumar</description>
  <author email="tdata535@gmail.com">Bhaveesh Kumar</author>

  <content src="index.html" />

  <!-- Android only -->
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="true" />
  <preference name="SplashScreenDelay" value="2000" />

  <!-- Icons -->
  <platform name="android">
      <icon src="icon.png" />
      <splash src="splash.png" />
  </platform>

</widget>
